.container {
  max-width: 400px;
  min-height: 450px;
  margin: auto;
  background-color: burlywood;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding: 15px 50px;
}

.text-center {
  text-align: center;
}
.text-center value {
  display: flex;
}

.expense-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 15px black;
}
.trasaction-list {
  margin: 0;
  padding: 0;
}
.trasaction-list li {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 3px black;
  padding: 5px 2px;
  margin: 5px 0;
  background-color:white;

}

.transaction-form input {
  width: 100%;
  margin: 10px 0;
  padding: 5px 5px;
}
.income{
  color:green;
}
.expense{
  color:red;
}